body{
  font-family: Helvetica, sans-serif;
}

#popup{
  min-width: 300px;
  min-height: 10px;
  margin: 12px;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li{
  padding-bottom: 5px;
}
